
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("轉出報表", "ExportReport", "Report", null, new { @class = "btn btn-default" })
@Html.ActionLink("轉出面單", "ExportOrder", "Report", null, new { @class = "btn btn-default" })